<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>signingCertificate</key>
	<string>E77FB8228142723F895CC070CB48A1C00474C937</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>F299X48S2K</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.meetsama.sama.dev</key>
        <string>sama_dev_id_signed</string>
    </dict>
</dict>
</plist>
